.client-preview {
  a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #727272;

    &:hover {
      color: $cyan;

      img {
        opacity: 0.7;
      }
    }
  }

  &__image {
    font-size: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 10px 15px 0px rgba(67, 97, 112, 0.05);

    img {
      opacity: 1;
      backface-visibility: hidden;
      transition: opacity 0.3s ease;
      width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    margin-top: 1em;
  }
}