.b-comments {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $yellow;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 5px;

    span {
      margin-right: 10px;
    }
  }

  &__info {
    padding: 10px 0;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__form {
    margin: 5rem 0 100px;
  }
}

.comments-list {
  li {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    ul {
      margin: 5% 0 0 5%;
    }
  }
}

.comment {
  &__header {
    position: relative;
    padding-left: 50px;
    margin-bottom: 15px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    @include square(4rem);

    background: #f1f8fa;
    color: #b6d5e0;
    font-size: 0;
    border-radius: 100%;

    span {
      font-size: 20px;
    }

    img {
      max-width: 80%;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__date {
    margin-top: 5px;
    font-size: 12px;
  }

  &__footer {
    margin-top: 15px;
    font-size: 14px;
  }

  &__alert {
    color: $red;
    font-weight: 600;
  }

  + #respond {
    margin-top: 15px;
  }
}