.b-delivery {
  &__title {
    margin-bottom: 43px;
  }
}

.delivery-method {
  position: relative;
  background: #f9fcfd;
  text-align: center;
  padding: 27px 10px 49px;
  height: 100%;

  &__icon {
    margin-bottom: 12px;

    svg {
      width: 80px;
      height: 65px;
      fill: $yellow;
    }
  }

  &__title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__price {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: em(16px, 30px);
    padding-top: em(16px, 30px);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 90px;
      height: 1px;
      margin-left: -45px;
      background: #c2c5c5;
    }
  }

  &__caption {
    font-size: 20px;
    margin-top: 24px;
  }

  &__link {
    font-size: 20px;
    margin-top: 38px;
  }

  &__shadow {
    font-size: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0.58;
  }
}