.b-hero {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media #{$small-down} {
    margin-bottom: 20PX;
  }

  &__inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 372px;

    @media #{$medium-down} {
      min-height: 1px;
    }

    @media #{$small-down} {
      flex-wrap: wrap;
    }
  }

  &__info {
    padding: 30px 0;
    flex: 0 0 33%;
    max-width: 33%;

    @media #{$medium-down} {
      flex: 0 0 60%;
      max-width: 60%;
    }

    @media #{$small-down} {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__sticker {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 6px;
    margin-bottom: 1.429em;
    letter-spacing: 1px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 21px;
    margin-top: 0.476em;
  }

  &__list {
    margin-top: 27px;

    li {
      position: relative;
      padding-left: 46px;
      min-height: 30px;
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-img {
      position: absolute;
      top: -5px;
      left: 0;
      display: block;
      width: 34px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__image {
    align-self: center;

    @media #{$medium-down} {
      display: none;
    }
  }

  &__form {
    background: #8cabc9;
    background: rgba(140, 171, 201, 0.58);
    flex: 0 0 28%;
    max-width: 28%;
    padding: 0 28px;
    padding-top: 37px;

    @media #{$xlarge-up} {
      margin-right: -28px;
    }

    @media #{$medium-down} {
      flex: 0 0 35%;
      max-width: 35%;
    }

    @media #{$small-down} {
      flex: 0 0 calc(100% + 24PX);
      max-width: calc(100% + 24PX);
      margin-left: -$gutter;
    }

    &-title {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      margin-bottom: 16px;
    }

    .form {
      &__group {
        margin-bottom: 14px;

        .form__field {
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .btn {
        width: 100%;
        padding: 0 5px;
        min-width: 1px;
      }

      &__terms {
        margin-top: 15px;
      }
    }
  }
}