$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-info: unquote('"\\e909"');
$icon-quote-bold: unquote('"\\e908"');
$icon-arrow-left-thin: unquote('"\\e90c"');
$icon-arrow-right-thin: unquote('"\\e90d"');
$icon-play: unquote('"\\e90f"');
$icon-arrow-left-long: unquote('"\\e910"');
$icon-arrow-right-long: unquote('"\\e911"');
$icon-loupe-plus: unquote('"\\e913"');
$icon-quote: unquote('"\\e914"');
$icon-quote-up: unquote('"\\e900"');
$icon-laptop: unquote('"\\e915"');
$icon-phone-fill: unquote('"\\e916"');
$icon-envelope: unquote('"\\e917"');
$icon-phone: unquote('"\\e918"');
$icon-arrow-up-long: unquote('"\\e919"');
$icon-arrow-down-long: unquote('"\\e91a"');
$icon-cross: unquote('"\\e91b"');
$icon-loupe: unquote('"\\e91c"');
$icon-arrow-left: unquote('"\\e91d"');
$icon-arrow-right: unquote('"\\e91e"');
$icon-clock: unquote('"\\e91f"');
$icon-arrow-down: unquote('"\\e920"');
$icon-arrow-up: unquote('"\\e921"');
$icon-mark: unquote('"\\e907"');
$icon-whatsapp2: unquote('"\\e934"');
$icon-facebook: unquote('"\\e901"');
$icon-whatsapp: unquote('"\\e902"');
$icon-telegram: unquote('"\\e903"');
$icon-viber: unquote('"\\e904"');
$icon-skype: unquote('"\\e905"');
$icon-youtube: unquote('"\\e906"');
$icon-instagram: unquote('"\\f16d"');
$icon-vk: unquote('"\\f189"');
$icon-odnoklassniki: unquote('"\\f263"');
$icon-point: unquote('"\\e912"');
$icon-chat: unquote('"\\e922"');
$icon-person: unquote('"\\e929"');
$icon-document: unquote('"\\e936"');
$icon-excel: unquote('"\\e937"');
$icon-xlsx: unquote('"\\e937"');
$icon-xls: unquote('"\\e937"');
$icon-pdf: unquote('"\\e939"');
$icon-word: unquote('"\\e938"');
$icon-docx: unquote('"\\e938"');
$icon-doc: unquote('"\\e938"');
$icon-point1: unquote('"\\e92c"');
$icon-cart: unquote('"\\e90a"');
$icon-point3: unquote('"\\e90b"');
$icon-envelope1: unquote('"\\e90e"');
$icon-max-path1: unquote('"\\e923"');
$icon-max-path2: unquote('"\\e924"');
$icon-max-path3: unquote('"\\e925"');

