.alignright {
  float: right;
  margin: 0px 0px 20px 20px;
}

.alignnone {
  margin: 0px 0px 20px;
}

.alignleft {
  float: left;
  margin: 0px 20px 20px 0px;
}

.aligncenter {
  display: block;
  margin: 0 auto 20px auto !important;
}

.full-width {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.nopadding {
  padding: 0px !important;
}

.nomargin {
  margin: 0px !important;
}

.remove-bottom {
  margin-bottom: 0 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@for $i from 1 through 12 {
  .add-bottom-#{5 * $i} {
    $margin: 5 * $i;
    margin-bottom: #{$margin}px !important;
  }
}

@for $i from 1 through 12 {
  .add-top-#{5 * $i} {
    $margin: 5 * $i;
    margin-top: #{$margin}px !important;
  }
}

.fs-0 {
  font-size: 0 !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.lh-1 {
  line-height: 1 !important;
}


.fw-regular {
  font-weight: 400 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.text-upper {
  text-transform: uppercase;
}


.w-100 {
  width: 100% !important;
}


.center-block {
  float: none;
  margin: 0 auto;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.o-hidden {
  overflow: hidden!important;
  height: 100%!important;
}

.two-col {
  @media #{$medium-up} {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    }
}


.bg-light {
  background: #F2F4F7;
}

.bg-dark {
  background: $cyan;
  color: #fff;
}

.color-red {
  color: $red !important;
}


.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-21by9 {
  &::before {
    padding-top: percentage(9 / 21);
  }
}

.embed-responsive-16by9 {
  &::before {
    padding-top: percentage(9 / 16);
  }
}

.embed-responsive-4by3 {
  &::before {
    padding-top: percentage(3 / 4);
  }
}

.embed-responsive-1by1 {
  &::before {
    padding-top: percentage(1 / 1);
  }
}