//grid
$width: 1164PX;
$gutter: 12PX;

//colors
$main: #282828;
$cyan: #54c8f9;
$blue: #1596cc;
$red: #ff0000;
$yellow: #ffcc00;
$yellow-d: #ffae00;

$montserrat: 'Montserrat', sans-serif;

$rootFSWeb: 10px;