@import "util/variables";
@import "util/mixins";


@import "grid/layout";
@import "grid/reboot";
@import "grid/grid";


@import "util/helpers1";
@import "util/helpers";


@import "js_widgets/modal";
@import "js_widgets/fancybox";
@import "js_widgets/slinky";
@import "js_widgets/slick";
@import "js_widgets/dropdown";
@import "js_widgets/tab";
@import "js_widgets/formstyler";
@import "js_widgets/animated";


@import "components/btn";
@import "components/boxs";
@import "components/links";
@import "components/table";
@import "components/form";
@import "components/icons";
@import "components/image";
@import "components/toggle";
@import "components/sticker";
@import "components/star";


@import "layout/main";
@import "layout/layouts";


@import "blocks/common/header";
@import "blocks/common/navs";
@import "blocks/common/mobile";
@import "blocks/common/breadcrumbs";
@import "blocks/common/node";
@import "blocks/common/content";
@import "blocks/common/pagination";
@import "blocks/common/sidebar";
@import "blocks/common/footer";


@import "blocks/article";
@import "blocks/hero";
@import "blocks/product-item";
@import "blocks/product";
@import "blocks/buy-card";
@import "blocks/bottom-contacts";
@import "blocks/comments";
@import "blocks/advantages";
@import "blocks/delivery";
@import "blocks/client";
@import "blocks/video";
@import "blocks/map";
@import "blocks/review";
@import "blocks/office";
@import "blocks/discount";
@import "blocks/worker";


@import "pages/front";
@import "pages/product";
@import "pages/catalog";


@import "blocks/front/slider";
@import "blocks/front/catalog";
@import "blocks/front/offer";
@import "blocks/front/delivery";
@import "blocks/front/steps";
@import "blocks/front/review";
@import "blocks/front/form";
@import "blocks/front/clients";
@import "blocks/front/video";
@import "blocks/front/content";
@import "blocks/front/map";
@import "blocks/front/contacts";