.box-logo {
  font-size: 0;
  width: 100%;
  max-width: 197px;

  img {
    display: block;
    width: 100%;
  }

  @media #{$small-down} {
    margin: 0 auto;
  }
}

.box-contact {
  display: inline-block;
  position: relative;
  line-height: 1.5;

  a {
    text-decoration: none;
    color: inherit;

    &:hover, &:focus {
      color: inherit;
      text-decoration: none;
    }
  }

  &--timetable {
    span {
      display: inline-flex;
      width: 60px;
    }
  }

  &--phone {
    font-weight: bold;
  }

  &__icon {
    width: 25px;
    text-align: center;
    color: inherit;
    position: absolute;
    left: 0;

    @include center(y);

    line-height: 0;

    span {
      font-size: 25px;
    }
  }

  &--icon {
    position: relative;
    padding-left: 37px;

    [class^="icon-"], [class*=" icon-"] {
      &:before {}
    }
  }
}

.box-social {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -5px;
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
  }
}

.box-share {
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$small-down} {
    display: block;
  }

  &__title {
    margin-right: 7px;
    position: relative;
    line-height: 1;
    padding-right: 1.389em;
    margin-right: 0.833em;

    @media #{$small-down} {
      margin-bottom: 0.833em;
      display: inline-block;
    }

    @media #{$medium-up} {
      br {
        display: none;
      }
    }

    &:after {
      @extend .icomoon;

      font-size: 16px;
      color: $red;
      content: "\e91e";
      position: absolute;
      right: 0;

      @include center(y);

      @media #{$small-down} {
        content: "\e920";
        font-size: 10px;
      }
    }
  }
}

.box-form {
  text-align: center;
  background: #e7ebee;
  border-radius: 5px;
  padding: 34px 46px;
  margin: 3em 0;

  @media #{$small-down} {
    padding: 30px 25px;
  }

  .h2 {
    .content & {
      margin-top: 0;
    }
  }
}

.box-benefits {
  margin: 50px 0;

  &__title {
    font-size: 21px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: em(42, 21);
  }

  &__item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }

    &-title {
      font-size: 19px;
      text-transform: uppercase;
      line-height: 1.1;
      font-weight: 700;
      color: #3f99ac;
      margin-bottom: em(14, 19);
    }

    &-content {
      position: relative;
      font-size: 16px;
      color: #565656;
      padding-right: 90px;
      min-height: 85px;

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &-image {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;

      @include square(85px);

      background: #f5fafb;
      border-radius: 100%;
    }
  }
}

.box-documents {
  margin: 50px 0;

  ul {
    li {
      margin-bottom: 20px !important;
      position: relative;
      padding-left: 30px !important;

      [class^="icon-"] {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 22px;
      }

      a {
        display: inline-block;
        line-height: 1.2;
        color: $main;
        border-bottom-color: #c0c0c0;

        &:hover {
          border-bottom-color: transparent;
        }
      }

      .icon-xlsx,
      .icon-xls {
        color: #3b7200;
      }

      .icon-docx,
      .icon-doc {
        color: #0058c4;
      }

      .icon-pdf {
        color: #ff0000;
      }
    }
  }
}