.form {
  @include placeholder(#767676, "transparent");

  &__group {
    margin-bottom: 22px;
    font-size: 0;

    .form__field {
      position: relative;
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--footer {
      margin-bottom: 0;
      text-align: center;
    }
  }

  &__field {
    label, .label {
      color: $main;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 10px;
      display: inline-block;
      cursor: pointer;
      text-align: left;

      sup {
        color: $cyan;
        font-size: 100%;
        top: 0;
      }

      &.error {
        color: $red;
        font-weight: 400;
        font-size: 14px;
        display: block;
        margin-top: 5px;
      }

      @media #{$small-down} {
        font-size: 16px;
      }
    }

    input, textarea {
      border: 1px solid #e7f0f5;
      outline: 0;
      color: $main;
      background: #e7f0f5;
      text-align: left;
      width: 100%;
      height: 52px;
      padding: 0 20px;
      font-size: 20px;
      font-weight: 400;
      border-radius: 5px;
      transition: all .15s linear;
    }

    &--text, &--textarea {
      input, textarea {
        -webkit-appearance: none;

        &:focus {
          border-color: $main;
          background: #fff;
        }

        &.error {
          border-color: red;
        }

        &:disabled {
          background: #ccc;
          opacity: 0.7;
        }
      }
    }

    &--textarea {
      textarea {
        resize: vertical;
        padding: 12px 15px;
        height: 126px;
      }
    }
  }

  &__result {
    p {
      margin-bottom: 10px;
      color: $red;
      font-size: 12PX;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  &__terms {
    margin-top: 30px;

    label {
      font-size: 12px;
      line-height: 1;
      color: #6f6f6f;

      a {
        color: #6f6f6f;
        text-decoration: underline;
      }
    }

    .error {
      color: $red;
      font-weight: 700;
    }
  }

  .field-checkbox {
    position: relative;
    font-size: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
    min-height: 20px;

    > label {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding-left: 30px;
      text-align: left;
      user-select: none;
      cursor: pointer;

      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
          ~ .field-checkbox__checkmark {
            &:after {
              display: block;
            }
          }
        }
      }
    }

    &__checkmark {
      position: absolute;
      @include center(y);      
      left: 0;
      height: 20px;
      width: 20px;
      background: #e7f0f5;

      &:after {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -6px;
        margin-top: -5px;
        font-size: 11px;

        @extend .icomoon;

        content: "\e907";
        color: #9ca0a4;
      }
    }
  }

  &--type {
    &_inline {
      .btn {
        width: 100%;
        height: 52px;
        padding: 0 5px;
        min-width: 1px;
      }

      .form__terms {
        margin-top: 0;
      }
    }
  }

  &--color {
    &_white {
      .form__field {
        input, textarea {
          background: #fff;
        }
      }

      .field-checkbox__checkmark {
        background: #fff;
      }
    }
  }
}