.image-responsive {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
  }

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
      width: auto;
    }
  }

  &--21by9 {
    &::before {
      padding-top: percentage(9 / 21);
    }
  }

  &--16by9 {
    &::before {
      padding-top: percentage(9 / 16);
    }
  }

  &--5by2 {
    &::before {
      padding-top: percentage(2 / 5);
    }
  }

   &--6by4 {
    &::before {
      padding-top: percentage(4 / 6);
    }
  }

  &--4by3 {
    &::before {
      padding-top: percentage(3 / 4);
    }
  }

  &--1by1 {
    &::before {
      padding-top: percentage(1 / 1);
    }
  }
}