.mobile {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10PX $gutter;
  background: #fff;
  box-shadow: 0 5PX 10PX rgba(0, 0, 0, 0.2);

  &__header {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-left: 30PX;

    .box-logo {
      width: 72PX;
    }
  }

  &__actions {
    display: flex;
    margin-left: auto;
  }

  &__panel {
    position: fixed;
    margin: 0 !important;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    z-index: 999;
    padding-top: 51PX;

    &-inner {
      width: 100%;
      height: 100%;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      transition: -webkit-transform .35s ease-in;
      transition: transform .35s ease-in;
      transition: transform .35s ease-in,-webkit-transform .35s ease-in;
      pointer-events: all;
      -webkit-tap-highlight-color: transparent;
    }

    &-content {
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background: #f5fafb;
      padding: 30PX 0;
    }

    &--show {
      .mobile__panel-inner {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
      }
    }
  }
}

.mobile-action {
  display: flex;
  justify-content: center;
  align-items: center;

  @include square(31PX);

  border: 1PX solid $blue;
  background: #fff;
  font-size: 19PX;
  line-height: 1;
  color: $blue;
  text-decoration: none;
  margin-left: 10PX;
  border-radius: 5PX;

  &:hover, &:focus {
    color: $blue;
    text-decoration: none;
  }

  .mobile-dropdown.show & {
    color: #fff;
    background: $cyan;
    border-color: $cyan;
  }
}

.menu-line {
  display: block;
  width: 22PX;

  &--top {
    border: 3PX solid $blue;
    border-bottom: none;
    transition: .5s;

    .is-open & {
      transform: rotate(45deg) translate(4PX, 4.5PX);
      border-color: $cyan;
    }
  }

  &--middle {
    height: 3PX;
    background-color: $blue;
    margin-top: 3PX;
    margin-bottom: 3PX;
    transition: .5s;

    .is-open & {
      transition: .1s ease-in;
      opacity: 0;
      background-color: $cyan;
    }
  }

  &--bottom {
    border: 3PX solid $blue;
    border-top: none;
    transition: .5s;

    .is-open & {
      transform: rotate(-45deg) translate(4PX, -4.5PX);
      transition: .5s;
      border-color: $cyan;
    }
  }
}

//HTML, BODY
.mobile-menu-open {
  overflow: hidden;
  position: fixed;
  margin: 0 !important;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

//Dropdown
.mobile-dropdown {
  .dropdown-menu {
    width: 220PX;
    top: 31PX !important; 
    right: 0 !important;
    left: auto !important;
    transform: none !important;
    padding: 15PX 20PX;
    border-top: 1PX solid $cyan;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9PX 6PX 9PX;
      border-color: transparent transparent $cyan transparent;
      position: absolute;
      top: -6PX; 
      right: 7PX;
    }
  }
}

.mobile-search-toggle {
  span {
    &:last-child {
      display: none;
    }
  }

  &.is-opened {
    span {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }
}

.mobile-search-block {
  position: absolute;
  top: 100%;
  left: -1000px;
  width: 100%;
  background: #fff;
  padding: 0 12px 12px;
  line-height: 1;

  &.is-opened {
    left: 0;
    right: 0;
  }

  .dgwt-wcas-sf-wrapp {
    button.dgwt-wcas-search-submit {
      background-color: $cyan;

      &:before {
        display: none;
      }
    }
  }
}