.top-bar {
  position: relative;
  z-index: 180;
  margin-right: 70PX;

  @media #{$medium-down} {
    margin-right: 0;
  }
}

.top-menu {
  position: relative;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  

  li {
    &.menu-item-has-children {
      > a {
        .help {
          &:after {
            color: $blue;
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: $main;

      .help {
        font-size: 16px;
        line-height: 1.1;
      }
    }

    &:hover {
      > a {
        color: $blue;
      }
    }

    &.is-active {
      > a {
        .help {
          font-weight: 600;
        }
      }
    }
  }

  > li {
    display: inline-block;
    margin-right: 10PX;

    /*@media #{$large-down} {
      margin-right: 15PX;
    }

    @media #{$medium-down} {
      margin-right: 0;
    }*/

    &:last-child {
      margin-right: 0;
    }

    > a {
      display: block;
      font-size: 0;
      height: 40px;
      color: #5b5b5b;

      @extend %vertical;

      text-decoration: none;
    }

    > .sub-menu {
      border-top: 0;
    }
  }

  .sub-menu {
    background: #fff;
    min-width: 150px;
    max-width: 400px;
    backface-visibility: hidden;
    padding: 15px 0;
    border-top: 1px solid $blue;
    box-shadow: 0px 33px 40px 0px rgba(76, 117, 137, 0.18);

    > li {
      padding: 0 25px;

      a {
        display: block;
        position: relative;

        .help {
          position: relative;
          display: block;
          padding-top: 10px;
          padding-bottom: 10px;

          @media #{$xlarge-up} {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.main-bar {
  position: relative;
  z-index: 160;

  &:after {
    @media #{$medium-down} {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
      background: #fff;
      background: linear-gradient(to right, rgba(79, 94, 101, 0) 0, rgba(79, 94, 101, 0) 10%, #4f5e65 100%);
    }
  }

  > ul {
    @media #{$medium-down} {
      display: block;
      white-space: nowrap;
      overflow: auto;
    }

    > li {
      @media #{$medium-down} {
        display: inline-block;
        margin-right: 20px;
      }

      &.menu-item-has-children {
        > a {
          &:before {
            @media #{$medium-down} {
              width: 100%;
            }
          }

          .help {
            @media #{$medium-down} {
              padding-right: 0;
            }

            &:after {
              @media #{$medium-down} {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.main-menu {
  position: relative;
  font-size: 0;
  display: flex;
  justify-content: space-between;

  > li {
    > a {
      font-size: 16px;
      height: 2.750em;
      color: #fff;

      @extend %vertical;

      text-align: left;

      .help {
        display: inline-block;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: $cyan;
        transition: all 0.23s ease;
      }
    }

    &.menu-item-has-children > a:before {
      width: calc(100% - 0.882em);
    }

    &:hover, &:focus, &.is-active {
      > a {
        &:before {
          height: 5px;
        }
      }
    }

    > .sub-menu {
      border-top: 0;
    }

    &.menu-item-has-children {
      > a {
        .help {
          &:after {
            color: $cyan !important;
          }
        }
      }
    }
  }

  li {
    a {
      display: block;
      position: relative;
      text-decoration: none;
      line-height: 1.1;
    }

    &.is-active {
      > a {
        font-weight: 600;
      }
    }

    &.menu-item-has-children {
      > a {
        .help {
          &:after {
            color: $blue;
          }
        }
      }
    }
  }

  .sub-menu {
    background: #fff;
    width: 100%;
    min-width: 150px;
    max-width: 400px;
    padding: 15px 0;
    backface-visibility: hidden;
    border-top: 1px solid $blue;
    box-shadow: 0px 33px 40px 0px rgba(76, 117, 137, 0.18);

    li {
      a {
        display: block;
        color: $main;
        font-size: 17px;
        padding: 0 19px;
        text-decoration: none;

        @media #{$medium-down} {
          font-size: 14px;
        }

        .help {
          position: relative;
          display: block;
          padding-top: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid #d6d6d6;

          @media #{$xlarge-up} {
            white-space: nowrap;
          }
        }
      }

      &:hover, &:focus, &.is-active {
        > a {
          color: $blue;
        }
      }

      &:last-child {
        > a {
          .help {
            border-bottom: 0;
          }
        }
      }
    }
  }

  &--strict {
    > li {
      ul {
        display: none !important;
      }
    }
  }
}

.catalog-bar {
  position: relative;
  z-index: 170;

  > ul {
    > li {
      width: 100%;

      &:hover {
        .catalog-bar__line {
          &--top {
            transform: translateY(3px);
          }

          &--middle {
            opacity: 0;
          }

          &--bottom {
            transform: translateY(-3px);
          }
        }
      }

      &:last-child {
        &.menu-item-has-children {
          .sub-menu {
            right: auto;
            left: 0;

            ul {
              right: auto;
              left: 100%;
            }
          }
        }
      }
    }
  }

  &__title {
    display: block;

    &:before {
      display: none;
    }

    .help {
      padding-left: 40px;
      padding-right: 0 !important;
      line-height: 1.1;
      text-transform: uppercase;

      @media #{$medium-down} {
        padding-left: 30px;
      }

      &:after {
        display: none;
      }
    }
  }

  &__line {
    position: absolute;
    left: 0;
    display: block;
    width: 25px;
    height: 2px;
    background: #fff;
    opacity: 1;
    transition: transform 0.24s ease;
    backface-visibility: hidden;
    will-change: transform;

    @media #{$medium-down} {
      width: 20px;
    }

    &--top {
      top: 0;
    }

    &--middle {
      top: 50%;
      margin-top: -1px;
    }

    &--bottom {
      bottom: 0;
    }
  }
}

.hierarchical-menu {
  > li {
    &.menu-item-has-children {
      > a {
        .help {
          padding-right: 0.882em;

          &:after {
            content: "\e920";
            font-size: 0.294em;
          }
        }
      }
    }

    &:last-child {
      &.menu-item-has-children {
        .sub-menu {
          right: 0;
          left: auto;

          ul {
            right: 100%;
            left: auto;
          }
        }
      }
    }
  }

  .sub-menu {
    li {
      &.menu-item-has-children {
        > a {
          .help {
            padding-right: 0.882em;

            &:after {
              content: "\e91e";
              font-size: 0.647em;
            }
          }
        }
      }
    }
  }

  li {
    position: relative;

    &.menu-item-has-children {
      > a {
        position: relative;

        .help {
          position: relative;

          &:after {
            @extend .icomoon;

            position: absolute;
            right: 0;

            @include center(y);
          }
        }
      }

      .sub-menu {
        position: absolute;
        left: 0;
        top: auto;
        display: block;
        height: auto;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        z-index: 200;

        ul {
          left: 100%;
          top: 0;
        }
      }

      &:hover,
      &.activated {
        > .sub-menu {
          overflow: visible;
          clip: auto;
          width: auto;
        }
      }
    }
  }
}