.pagination ul {
  display: inline-block;
  vertical-align: top;
  margin: 30px 0;
  font-size: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    margin: 0 10px;

    a, span {
      display: block;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: $main;
      font-weight: 600;
      margin: 0;
      padding: 0;
      text-decoration: none;
      border: 0;

      &:hover {
        color: $cyan;
      }
    }

    span.current {
      font-weight: 700;
      color: $cyan;
    }
  }

  a.prev, a.next {
    span {
      color: $blue;
      font-size: 18px;
    }

    &:hover {
      span {
        color: $cyan;
      }
    }
  }

  a.prev {
    span {
      &:before {}
    }
  }
}