.sidebar {
  height: 100%;
}

.sidebar-item {
  $self: &;

  background: #f1fafd;
  padding: 24px;
  margin-bottom: 32px;
  border-radius: 5px;

  &--blog {
    @media #{$medium-down} {
      padding-bottom: 0;
    }

    .toggle-btn {
      margin-bottom: 20px;
    }
  }

  &--consalt {
    margin-bottom: 0;
    background: #e3f1f6;

    .form {
      &__group {
        margin-bottom: 14px;

        .form__field {
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .btn {
        width: 100%;
        min-width: 1px;
        padding: 0;
      }

      &__terms {
        margin-top: 15px;
      }
    }
  }

  &--review {
    .btn {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 600;
    margin: 0 0 24px;

    #{$self}--blog & {
      position: relative;
      padding-top: 19px;

      &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 42px;
        height: 38px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 564.2 512' style='enable-background:new 0 0 564.2 512;' xml:space='preserve'%3E%3Cpath fill='%235F95A8' d='M117,127.5c0-6.3,5.2-11.5,11.5-11.5h259.1c6.3,0,11.5,5.2,11.5,11.5c0,6.3-5.2,11.5-11.5,11.5H129.6 C123.3,140,118.1,134.8,117,127.5L117,127.5z M270.6,256H129.6c-6.3,0-11.5,5.2-11.5,11.5s5.2,11.5,11.5,11.5h141.1 c6.3,0,11.5-5.2,11.5-11.5S276.9,256,270.6,256L270.6,256z M564.2,90.9c0,11.5-5.2,23-13.6,31.3l0,0l-33.4,33.4V349 c0,26.1-20.9,47-47,47H133.7L19.9,508.9c-2.1,2.1-5.2,3.1-8.4,3.1c-1,0-3.1,0-4.2-1c-4.2-2.1-7.3-6.3-7.3-10.4V47 C0,20.9,20.9,0,47,0h423.2c26.1,0,47,20.9,47,47l0,0c1,0,1,0,2.1,0C544.4,47,564.2,66.9,564.2,90.9L564.2,90.9z M494.2,179.7 l-86.7,84.6c-2.1,2.1-4.2,3.1-6.3,3.1L342.7,279c-1,0-1,0-2.1,0c-3.1,0-6.3-1-8.4-3.1c-3.1-3.1-4.2-6.3-3.1-10.4l11.5-55.4H129.6 c-6.3,0-11.5-5.2-11.5-11.5s5.2-11.5,11.5-11.5h229.9L486.9,59.6c2.1-2.1,4.2-3.1,6.3-5.2V47c0-12.5-10.4-23-24-23H47 c-12.5,0-23,10.4-23,23v425.3l97.2-96.1c2.1-2.1,5.2-3.1,8.4-3.1h340.6c12.5,0,23-10.4,23-23V179.7L494.2,179.7z M500.5,140 l-30.3-30.3L363.6,215.3l-7.3,37.6l37.6-7.3L500.5,140L500.5,140z M540.2,90.9c0-11.5-9.4-20.9-21.9-20.9c-5.2,0-11.5,2.1-15.7,6.3 L485.9,93l30.3,30.3l16.7-16.7C538.1,102.4,541.3,97.2,540.2,90.9L540.2,90.9z'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
      }
    }

    #{$self}--review & {
      position: relative;
      padding-top: 19px;
      padding-right: 50px;

      &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;

        @include square(46px);

        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 503.1 511' style='enable-background:new 0 0 503.1 511;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%235F95A8' d='M497,218.9c-5.3-8-13.3-13.5-22.7-15.6c6-11.5,5.8-25.9-1.9-37.5c-5.5-8.2-13.7-13.6-22.7-15.6 c1.6-3,2.8-6.3,3.5-9.8c2-9.6,0-19.5-5.4-27.7c-5.3-8-13.3-13.5-22.7-15.6c6-11.5,5.8-25.9-1.9-37.5 c-11.2-16.9-34.1-21.6-51.1-10.4l-36.7,24.3c-19.6-9.9-40.4-17-61.9-21c-6.8-10.4-14.8-20-23.6-28.6L234.8,9.3 c-11.1-10.8-28.5-12.4-41.4-3.8c-15.3,10.1-19.5,30.8-9.4,46c0.4,0.6,0.8,1.2,1.2,1.8C135.4,63.4,90,89.8,56.5,128.5 C20.1,170.5,0,224.2,0,279.9c0,10.7,0.7,21.4,2.2,31.8c11.1,80.9,65,150.5,140.6,181.9c28,11.6,57.8,17.5,88.4,17.5 c48.5,0,94.9-14.9,134.2-42.9c38.5-27.5,67.3-65.4,83.2-109.7c1.5-4.1-0.6-8.7-4.8-10.2c-4.1-1.5-8.7,0.6-10.2,4.8 c-14.9,41.2-41.7,76.5-77.5,102.2c-36.6,26.2-79.8,40-125,40c-23.3,0-46.1-3.7-68-11l64.6-42.8c0,0,0,0,0,0c0,0,0,0,0,0l53.7-35.6 h0c4.8-3.2,8.1-8.1,9.3-13.8c1.2-5.7,0-11.5-3.2-16.3l-0.7-1.1l10.4-6.9c7.4-4.9,16.4-6.9,25.2-5.5c12.8,2.1,25.7-0.8,36.5-7.9 l86.6-57.3c-0.6,7.5-1.6,15-2.9,22.3c-0.8,4.3,2,8.5,6.4,9.3c0.5,0.1,1,0.1,1.5,0.1c3.8,0,7.1-2.7,7.8-6.5 c2.2-11.8,3.5-24,3.8-36.1l24.4-16.2c8.2-5.4,13.8-13.7,15.8-23.4C504.3,237,502.4,227.1,497,218.9 M320.1,83.8l-24.3,16.1L291,87 c-2-5.4-4.3-10.6-6.8-15.8C296.5,74.3,308.5,78.5,320.1,83.8 M68.5,138.9c32.3-37.2,76.2-62.2,124.2-70.8c7.7,18.7,9.6,39.6,5,59.5 l-19.4,83.7c-3-3.3-7-5.5-11.4-6.4c-5.7-1.2-11.5,0-16.3,3.2l-54.9,36.3c0,0,0,0,0,0c0,0,0,0,0,0l-79.1,52.4 c-0.4-5.6-0.7-11.2-0.7-16.8C15.9,228,34.6,178,68.5,138.9 M275.3,388.8c-0.3,1.5-1.2,2.8-2.5,3.7h0l-47.2,31.2L138,293.1 c-2.4-3.6-7.4-4.6-11-2.2c-3.6,2.4-4.6,7.4-2.2,11l87.5,130.5L145,477.1C78,447.9,30.1,386,18.6,314.1l79.2-52.3l9.1,13.6 c1.5,2.3,4,3.5,6.6,3.5c1.5,0,3.1-0.4,4.4-1.3c3.6-2.4,4.6-7.4,2.2-11l-9.1-13.5l48.2-31.8c1.3-0.9,2.8-1.2,4.3-0.8 s2.8,1.2,3.7,2.5l107.1,161.7C275.3,385.8,275.6,387.3,275.3,388.8 M486.8,243.4c-1.1,5.5-4.3,10.2-9,13.3l-27.9,18.5c0,0,0,0,0,0 l-99.5,65.9c-7.4,4.9-16.4,6.9-25.2,5.4c-12.8-2-25.7,0.8-36.5,7.9l-10.4,6.9L190.5,229l22.7-97.9c5.8-25.2,2.8-51.8-8.4-74.9 c-0.1-0.2-0.2-0.5-0.3-0.7c-2.1-4.4-4.6-8.6-7.3-12.7c-5.3-8-3.1-18.7,4.9-24c6.7-4.5,15.8-3.6,21.6,2l15.2,14.7 c16.4,15.9,29.3,35.7,37.3,57.1l8.3,22.3c0,0,0,0.1,0,0.1c0,0.1,0,0.1,0.1,0.2c0.1,0.1,0.1,0.3,0.2,0.4c0.2,0.3,0.3,0.7,0.5,1 c2.4,3.7,7.4,4.7,11,2.2L381,62.5c9.6-6.4,22.7-3.7,29.1,5.9c6.4,9.6,3.7,22.7-5.9,29.1l-7.4,4.9c0,0,0,0,0,0l-16.4,10.9 c0,0,0,0-0.1,0c-0.1,0.1-0.2,0.1-0.3,0.2c-3.4,2.5-4.3,7.2-1.9,10.8c2.4,3.7,7.4,4.7,11,2.2l16.4-10.9c4.7-3.1,10.3-4.2,15.7-3.1 c5.5,1.1,10.2,4.3,13.3,9c3.1,4.7,4.2,10.3,3.1,15.7c-1.1,5.5-4.3,10.2-9,13.3l-23.8,15.7c-3.7,2.4-4.7,7.3-2.2,11 c1.5,2.3,4.1,3.6,6.6,3.6c1.5,0,3-0.4,4.4-1.3l3.7-2.4l12.7-8.4c9.6-6.4,22.7-3.7,29.1,5.9c6.4,9.6,3.7,22.7-5.9,29.1l-11.9,7.9 c-0.1,0-0.1,0.1-0.2,0.1l-11.7,7.8c-3.7,2.4-4.7,7.4-2.2,11c1.5,2.3,4.1,3.6,6.6,3.6c1.5,0,3-0.4,4.4-1.3l3.7-2.4c0,0,0,0,0,0 l12.7-8.4c4.7-3.1,10.3-4.2,15.7-3.1c5.5,1.1,10.2,4.3,13.3,9C486.8,232.4,487.9,237.9,486.8,243.4'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
      }
    }

    #{$self}--consalt & {
      position: relative;
      line-height: 1.4;
      padding-right: 60px;

      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -22px;
        display: block;
        width: 56px;
        height: 44px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 506 395.4' style='enable-background:new 0 0 506 395.4;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%235F95A8' d='M167.7,344.4h254.5c10,0,19.6,3.6,27.2,10.2l45.1,39.2c2.1,1.8,4.8,2.2,7.4,1c2-0.9,4.2-3,4.2-6.3V137 c0-12.6-4.9-24.4-13.8-33.4c-8.9-8.9-20.8-13.8-33.4-13.8h-73.2V47.2c0-26-21.2-47.2-47.2-47.2H235c-3.9,0-7,3.1-7,7s3.1,7,7,7 h103.3c18.3,0,33.2,14.9,33.2,33.2v42.5H167.7c-26,0-47.2,21.2-47.2,47.2v103.7H83.8c-13.4,0-26.3,4.8-36.4,13.6L14,283.3V47.2 C14,28.9,28.9,14,47.2,14H147c3.9,0,7-3.1,7-7s-3.1-7-7-7H47.2C21.2,0,0,21.2,0,47.2v251.4c0,3.2,2.1,5.3,4.2,6.3 c2.6,1.2,5.4,0.8,7.4-1l45-39.1c7.5-6.6,17.2-10.2,27.2-10.2h36.6v42.5C120.4,323.2,141.6,344.4,167.7,344.4z M134.4,137 c0-18.3,14.9-33.2,33.2-33.2l291.1,0c18.3,0,33.2,14.9,33.2,33.2v236.1L458.5,344c-10.1-8.8-23-13.6-36.4-13.6H167.7 c-18.3,0-33.2-14.9-33.2-33.2L134.4,137z'/%3E%3Cpath fill='%235F95A8' d='M186.3,9.7c1.5,3.5,5.6,5.2,9.1,3.8c1.7-0.7,3-2,3.7-3.8c0.7-1.8,0.7-3.7,0-5.3c-1.5-3.5-5.6-5.2-9.1-3.8 C186.6,2,184.9,6.2,186.3,9.7z'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
      }
    }
  }
}

.sidebar-menu {
  .sidebar-item--blog & {
    display: none;
    padding-bottom: 24px;

    @media #{$large-up} {
      display: block !important;
      padding-bottom: 0;
    }
  }

  li {
    padding: 1rem 0;
    border-bottom: 1px solid #e0e0e0;

    a {
      font-size: 18px;
      line-height: 1;
      text-decoration: none;
      color: $main;

      &:hover {
        color: $blue;
      }
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }

    &.is-active {
      > a {
        font-weight: 600;
      }
    }
  }
}