/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020;

  a {
    border: 0;
  }
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4PX;
  -moz-border-radius: 4PX;
  border-radius: 4PX;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10PX 25PX rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10PX 25PX rgba(0, 0, 0, 0.5);
  box-shadow: 0 10PX 25PX rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden !important;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14PX/20PX "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15PX;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading {
  background-image: url(../images/lib/fancybox_sprite.png);
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22PX;
  margin-left: -22PX;
  background-position: 0 -108PX;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44PX;
  height: 44PX;
  background: url(../images/lib/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -18PX;
  right: -18PX;
  width: 36PX;
  height: 36PX;
  cursor: pointer;
  z-index: 8040;
  border-radius: 100%;
  background: $cyan;
  text-decoration: none !important;
  transition: background .25s;

  span {
    font-size: 18PX;
    line-height: 1;
    color: #fff;
  	transition: transform .25s;
  }

  &:hover{
  	background: $blue;

  	span {
	    transform: rotate(90deg);
	 }
  }
}

.fancybox-nav {
  position: absolute;
  top: 50%;
  width: 23PX;
  height: 40PX;
  margin-top: -20PX;
  cursor: pointer;
  font-size: 0;
  text-decoration: none !important;
  z-index: 8040;
  span {  
	  font-size: 39PX;
	  line-height: 1;
	  color: $cyan;
  } 
  &:hover {
	span {
	  color: $blue;
	}
  }
}

.fancybox-prev {
  left: -40PX;
}

.fancybox-next {
  right: -40PX;
}

.fancybox-tmp {
  position: absolute;
  top: -99999PX;
  left: -99999PX;
  max-width: 99999PX;
  max-height: 99999PX;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url(../images/lib/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: hidden;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font-weight: bold;
  font-size: 15PX;
  line-height: 1.5;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35PX;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2PX 20PX;
  background: transparent;

  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15PX;
  -moz-border-radius: 15PX;
  border-radius: 15PX;
  text-shadow: 0 1PX 2PX #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24PX;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  color: $main;
  background: $yellow;
  padding: 15PX 20PX;
}

.fancybox-title-inside-wrap {
  padding-top: 10PX;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10PX;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close {
    //background-image: url(../images/lib/fancybox_sprite@2x.png);
    //background-size: 44PX 152PX;

    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url(../images/lib/fancybox_loading@2x.gif);
    background-size: 24PX 24PX;

    /*The size of the normal image, half the size of the hi-res image*/
  }
}