.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  pointer-events: none;
  margin: 64PX auto;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 16PX);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.modal-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
  background: transparent;
  border: 1PX solid #3e778f;
  padding: 15PX;

  @media #{$small-down} {
    border: 0;
    padding: 0;
  }
}

.modal-inner {
  background: #fff;
  padding: 47PX;

  @media #{$small-down} {
    padding: 30PX 0;
  }
}

.modal-header {
  position: relative;
  padding-bottom: 14PX;

  @media #{$small-down} {
    padding-top: 14PX;
    padding-bottom: 0;
  }
}

.modal-content .close {
  position: absolute;
  top: -30PX;
  right: -27PX;
  color: #bababa;
  font-size: 23PX;
  text-decoration: none;
  z-index: 200;

  &:hover {
    color: $blue;
  }

  @media #{$small-down} {
    top: -15PX;
    right: 10PX;
    font-size: 20PX;
  }
}

.modal-title {
  width: 100%;
  font-size: 29PX;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;

  @media #{$small-down} {
    font-size: 25PX;
    padding-bottom: 0;
  }
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 18PX;

  @media #{$small-down} {
    font-size: 16PX;
    padding: 20PX 15PX 20PX;
  }

  p {
    text-align: center;
  }

  form {
    max-width: 364PX;
    margin: 0 auto;

    .btn {
      width: 100%;
    }
  }
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16PX;
  border-top: 1PX solid #e9ecef;
}

.modal-footer > :not(:first-child) {
  margin-left: 4PX;
}

.modal-footer > :not(:last-child) {
  margin-right: 4PX;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999PX;
  width: 50PX;
  height: 50PX;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600PX;
  }

  .modal-dialog-centered {
    min-height: calc(100% - (64PX * 2));
  }

  .modal-sm {
    max-width: 300PX;
  }
}

@media (min-width: 576px) {
  .modal-lg {
    .modal-dialog {
      max-width: 930PX;
    }
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 64PX 8PX;
    max-width: 100%;
  }
}

.modal-buy {
  .modal-body form {
    max-width: 100%;

    .btn {
      width: auto;
    }
  }
}