.single-product {
  &__media {
    position: relative;
    z-index: 110;

    .product-stickers {
      position: absolute;
      top: 20px;
      right: 0;
      text-align: right;
      z-index: 112;
    }
  }

  &__gallery {
    position: relative;
    z-index: 111;
    opacity: 0;
    transition: opacity .25s ease-in-out;

    img {
      backface-visibility: hidden;
    }

    &-main-track, figure {
      position: relative;

      a {
        cursor: url("../images/loupe-plus.png"), pointer;
      }

      .slick-track {
        display: flex;

        .slick-slide {}
      }

      .single-product__gallery-image {
        cursor: pointer;
      }
    }

    &-thumb-track {
      @media #{$small-down} {
        display: none;
      }

      .slick-track {
        margin: 0 auto;
      }

      .single-product__gallery-image {
        cursor: pointer;
        padding: 24px 0;

        img {
          transition: all 0.23s ease;
        }

        &:hover {
          img {
            box-shadow: 0px 5px 20px 0px rgba(40, 56, 64, 0.27);
          }
        }
      }

      .slick-current .single-product__gallery-image {
        opacity: 0.7;
      }
    }
  }

  &__summary {
    @media #{$small-down} {
      margin-top: 30px;
    }

    h1 {
      font-size: 27px;
      font-weight: 700;
      line-height: 1.45;

      @include lhCrop(1.45);

      margin-bottom: 1.407em;
      text-transform: none;
    }

    .product-attributes,
    .product-stock {
      margin-bottom: 56px;
    }

    .product-actions {
      .btn {
        width: 180px;
        height: 50px;
        padding: 0;
      }
    }
  }

  &__info {
    margin-bottom: 50px;
  }

  &__delivery {
    font-size: 15PX;
    background: #f4fafc;
    padding: 20PX 0 0;
    min-height: 100%;

    @media #{$large-down} {
      margin-top: 56px;
      min-height: 1px;
    }

    &-title {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 23PX;
    }

    &-methods {
      @media #{$large-down} {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
      }

      @media #{$small-down} {
        display: block;
        padding: 0;
      }
    }
  }

  &__delivery-method {
    position: relative;
    padding-left: 49PX;
    padding-bottom: 26PX;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 40PX;
      height: 37PX;
      background: #fff;
      border-top-right-radius: 20PX;
      border-bottom-right-radius: 20PX;
      font-size: 0;

      @media #{$large-down} {
        border-radius: 100%;
        height: 40PX;
      }

      @media #{$small-down} {
        height: 37PX;
        border-radius: 0;
        border-top-right-radius: 20PX;
        border-bottom-right-radius: 20PX;
      }

      svg {
        width: 27PX;
        height: 25PX;
        fill: #87b3c3;
      }
    }

    &__title {
      color: #737373;
      font-weight: 600;
      margin-bottom: 10PX;
    }

    &__price {
      color: #87b3c3;
      font-weight: 600;
    }
  }

  &__payment {
    .c-icon {
      @media #{$small-down} {
        margin-right: 10px;
      }
    }
  }

  &__content {
    margin-bottom: 80px;
  }

  &__upsells {
    &-slider {
      .slick-slide {
        > div {
          padding-bottom: 30px;
        }
      }
    }
  }
}