@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ic2tqc');
  src:  url('fonts/icomoon.eot?ic2tqc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ic2tqc') format('truetype'),
    url('fonts/icomoon.woff?ic2tqc') format('woff'),
    url('fonts/icomoon.svg?ic2tqc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e909";
}
.icon-quote-bold:before {
  content: "\e908";
}
.icon-arrow-left-thin:before {
  content: "\e90c";
}
.icon-arrow-right-thin:before {
  content: "\e90d";
}
.icon-play:before {
  content: "\e90f";
}
.icon-arrow-left-long:before {
  content: "\e910";
}
.icon-arrow-right-long:before {
  content: "\e911";
}
.icon-loupe-plus:before {
  content: "\e913";
}
.icon-quote:before {
  content: "\e914";
}
.icon-quote-up:before {
  content: "\e900";
}
.icon-laptop:before {
  content: "\e915";
}
.icon-phone-fill:before {
  content: "\e916";
}
.icon-envelope:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e918";
}
.icon-arrow-up-long:before {
  content: "\e919";
}
.icon-arrow-down-long:before {
  content: "\e91a";
}
.icon-cross:before {
  content: "\e91b";
}
.icon-loupe:before {
  content: "\e91c";
}
.icon-arrow-left:before {
  content: "\e91d";
}
.icon-arrow-right:before {
  content: "\e91e";
}
.icon-clock:before {
  content: "\e91f";
}
.icon-arrow-down:before {
  content: "\e920";
}
.icon-arrow-up:before {
  content: "\e921";
}
.icon-mark:before {
  content: "\e907";
}
.icon-whatsapp2:before {
  content: "\e934";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-whatsapp:before {
  content: "\e902";
}
.icon-telegram:before {
  content: "\e903";
}
.icon-viber:before {
  content: "\e904";
}
.icon-skype:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-vk:before {
  content: "\f189";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-point:before {
  content: "\e912";
}
.icon-chat:before {
  content: "\e922";
}
.icon-person:before {
  content: "\e929";
}
.icon-document:before {
  content: "\e936";
}
.icon-excel:before {
  content: "\e937";
}
.icon-xlsx:before {
  content: "\e937";
}
.icon-xls:before {
  content: "\e937";
}
.icon-pdf:before {
  content: "\e939";
}
.icon-word:before {
  content: "\e938";
}
.icon-docx:before {
  content: "\e938";
}
.icon-doc:before {
  content: "\e938";
}
.icon-point1:before {
  content: "\e92c";
}
.icon-cart:before {
  content: "\e90a";
}
.icon-point3:before {
  content: "\e90b";
}
.icon-envelope1:before {
  content: "\e90e";
}
