@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ic2tqc');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ic2tqc#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ic2tqc') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ic2tqc') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ic2tqc##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-quote-bold {
  &:before {
    content: $icon-quote-bold; 
  }
}
.icon-arrow-left-thin {
  &:before {
    content: $icon-arrow-left-thin; 
  }
}
.icon-arrow-right-thin {
  &:before {
    content: $icon-arrow-right-thin; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-arrow-left-long {
  &:before {
    content: $icon-arrow-left-long; 
  }
}
.icon-arrow-right-long {
  &:before {
    content: $icon-arrow-right-long; 
  }
}
.icon-loupe-plus {
  &:before {
    content: $icon-loupe-plus; 
  }
}
.icon-quote {
  &:before {
    content: $icon-quote; 
  }
}
.icon-quote-up {
  &:before {
    content: $icon-quote-up; 
  }
}
.icon-laptop {
  &:before {
    content: $icon-laptop; 
  }
}
.icon-phone-fill {
  &:before {
    content: $icon-phone-fill; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-arrow-up-long {
  &:before {
    content: $icon-arrow-up-long; 
  }
}
.icon-arrow-down-long {
  &:before {
    content: $icon-arrow-down-long; 
  }
}
.icon-cross {
  &:before {
    content: $icon-cross; 
  }
}
.icon-loupe {
  &:before {
    content: $icon-loupe; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-mark {
  &:before {
    content: $icon-mark; 
  }
}
.icon-whatsapp2 {
  &:before {
    content: $icon-whatsapp2; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-viber {
  &:before {
    content: $icon-viber; 
  }
}
.icon-skype {
  &:before {
    content: $icon-skype; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-vk {
  &:before {
    content: $icon-vk; 
  }
}
.icon-odnoklassniki {
  &:before {
    content: $icon-odnoklassniki; 
  }
}
.icon-point {
  &:before {
    content: $icon-point; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-person {
  &:before {
    content: $icon-person; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}
.icon-excel {
  &:before {
    content: $icon-excel; 
  }
}
.icon-xlsx {
  &:before {
    content: $icon-xlsx; 
  }
}
.icon-xls {
  &:before {
    content: $icon-xls; 
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf; 
  }
}
.icon-word {
  &:before {
    content: $icon-word; 
  }
}
.icon-docx {
  &:before {
    content: $icon-docx; 
  }
}
.icon-doc {
  &:before {
    content: $icon-doc; 
  }
}
.icon-point1 {
  &:before {
    content: $icon-point1; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-point3 {
  &:before {
    content: $icon-point3; 
  }
}
.icon-envelope1 {
  &:before {
    content: $icon-envelope1; 
  }
}

