$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-info: "\e909";
$icon-quote-bold: "\e908";
$icon-arrow-left-thin: "\e90c";
$icon-arrow-right-thin: "\e90d";
$icon-play: "\e90f";
$icon-arrow-left-long: "\e910";
$icon-arrow-right-long: "\e911";
$icon-loupe-plus: "\e913";
$icon-quote: "\e914";
$icon-quote-up: "\e900";
$icon-laptop: "\e915";
$icon-phone-fill: "\e916";
$icon-envelope: "\e917";
$icon-phone: "\e918";
$icon-arrow-up-long: "\e919";
$icon-arrow-down-long: "\e91a";
$icon-cross: "\e91b";
$icon-loupe: "\e91c";
$icon-arrow-left: "\e91d";
$icon-arrow-right: "\e91e";
$icon-clock: "\e91f";
$icon-arrow-down: "\e920";
$icon-arrow-up: "\e921";
$icon-mark: "\e907";
$icon-whatsapp2: "\e934";
$icon-facebook: "\e901";
$icon-whatsapp: "\e902";
$icon-telegram: "\e903";
$icon-viber: "\e904";
$icon-skype: "\e905";
$icon-youtube: "\e906";
$icon-instagram: "\f16d";
$icon-vk: "\f189";
$icon-odnoklassniki: "\f263";
$icon-point: "\e912";
$icon-chat: "\e922";
$icon-person: "\e929";
$icon-document: "\e936";
$icon-excel: "\e937";
$icon-xlsx: "\e937";
$icon-xls: "\e937";
$icon-pdf: "\e939";
$icon-word: "\e938";
$icon-docx: "\e938";
$icon-doc: "\e938";
$icon-point1: "\e92c";
$icon-cart: "\e90a";
$icon-point3: "\e90b";
$icon-envelope1: "\e90e";

